:root {
  --GS-Black: #222222;
  --GS-Dark-gray: #666666;
  --GS-Medium-gray: #999999;
  --GS-Light-gray: #cccccc;
  --GS-Border: #dedede;
  --GS-gray: #f3f3f3;
  --elevation: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  height: 2px;
  width: 5px;
  border-radius: 3px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--GS-Dark-gray);
  border-radius: 3px;
}
.header,
.home,
.about,
.products,
.contact-sect {
  position: relative;
}
.scrollBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  border: none;
  box-shadow: var(--elevation);
  z-index: 1;
}
.scrollBtn:hover,
.navigation--list--item:hover,
.products--view-more:hover {
  opacity: 0.7;
}
.products--view-more {
  right: 20px;
  border: none;
  border-radius: 100px;
  padding: 5px 24px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: var(--elevation);
  position: absolute;
  background-color: var(--GS-Medium-gray);
}
.subtitle {
  position: absolute;
  left: 32px;
  background-color: var(--GS-Medium-gray);
  padding: 5px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--GS-Border);
  height: 60px;
  width: 100%;
}
.header--logo-container {
  height: 60px;
  width: 60px;
  background-color: var(--GS-Medium-gray);
  position: absolute;
  left: 0;
  border-radius: 8px;
}
.navigation--list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navigation--list--item {
  background-color: var(--GS-Medium-gray);
  padding: 5px;
  border-radius: 8px;
}
.home {
  background-color: var(--GS-gray);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.home--picture-cont {
  background-color: var(--GS-Medium-gray);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}
.home--message {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home--message--text {
  color: var(--GS-Black);
}
.about {
  background-color: var(--GS-Border);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about--times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 20%;
}
.about--picture-cont {
  background-color: var(--GS-Medium-gray);
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}
.products {
  background-color: var(--GS-gray);
  height: 320px;
  display: flex;
}
.products--container-cards {
  margin-top: 40px;
  background-color: var(--GS-Light-gray);
  height: 270px;
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.products--container-cards::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 3px;
}
.products--container-cards::-webkit-scrollbar-thumb {
  background-color: var(--GS-Dark-gray);
  border-radius: 3px;
}
.product-card {
  background-color: var(--GS-Dark-gray);
  height: 250px;
  aspect-ratio: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.product-card--img {
  height: 100px;
  width: 100px;
  aspect-ratio: 1 / 1;
  background-color: var(--GS-Medium-gray);
}
.product-card--description {
  background-color: var(--GS-Medium-gray);
}
.product-card--price {
  background-color: var(--GS-Medium-gray);
}
.contact-sect {
  background-color: var(--GS-Border);
  height: 20vh;
}
.contact-sect--data {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
  gap: 10px;
}
