@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --GS-Black: #222222;
  --GS-Dark-gray: #666666;
  --GS-Medium-gray: #999999;
  --GS-Light-gray: #cccccc;
  --GS-Border: #dedede;
  --GS-gray: #f3f3f3;
  --elevation: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrollbar-homeProducts::-webkit-scrollbar {
  height: 5px;
}
html::-webkit-scrollbar {
  height: 2px;
  width: 5px;
  border-radius: 3px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--GS-Black);
  border-radius: 3px;
}
.scrollbar-homeProducts::-webkit-scrollbar-thumb {
  background-color: #d03241;
  border-radius: 3px;
}

body {
  font-family: 'Quicksand', Verdana, Geneva, Tahoma, sans-serif;
}